{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
{{title}}
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
{% endblock %}

{% block small_menu_items %}
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
<div class="main_section">
    <div class="main_section_header">
        Login
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for err in form.not_field_errors %}
        <span>
            {{ err }}
        </span>
        {% endfor %}
        {% for field in form %}
        <p>
            <label for="id_{{field.name}}">{{field.label}}:</label>
            <input type="text"
                   name="{{field.name}}"
                   autofocus
                   class="form-control"
                   required_id="id_{{field.name}}">
        </p>
        {% for err in field.errors %}
        <span>
            {{ err }}
        </span>
        {% endfor %}
        {% endfor %}
        <button class="btn btn-primary" type="submit">Login</button>
        <a class="btn btn-primary" href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'articlesapp:list' %}">
            Google+
        </a>
        <a class="btn btn-primary" href="{% url 'social:begin' 'vk-oauth2' %}?next={% url 'articlesapp:list' %}">
            VK
        </a>
    </form>
</div>
{% endblock %}

{% block bootstrap_js %}
{% endblock %}