{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
    Login
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
{% endblock %}

{% block small_menu_items %}
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
<div class="main_section">
    <div class="main_section_header">
        {{ username }}
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="main-page-auth">
            <div class="input-group">
                <input name="exit" type="submit" value="Выйти">
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block bootstrap_js %}
<script src="{% static 'authapp/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}