{% load static %}

<div class="author-photo" style="
    {% if object.avatar %}
        background-image: url('{{ object.avatar.url }}');
    {% endif %}
    ">
    {% if not object.avatar %}
    <h2>No</h2>
    <h2>Photo</h2>
    {% endif %}
</div>
<div class="author-info">
    <div>
        <span class="name">
            username: {{ object.username }}
        </span>
    </div>
    <div>
        <span class="name">
            first name: {{ object.first_name|default_if_none:"not set" }}
        </span>
    </div>
    <div>
        <span class="lastname">
            last name: {{ object.last_name|default_if_none:"not set" }}
        </span>
    </div>
    <div>
        <span class="lastname">
            age: {{ object.age|default_if_none:"not set" }}
        </span>
    </div>
    <div>
        <span class="lastname">
            gender: {{ object.customerprofile.gender|default_if_none:"not set" }}
        </span>
    </div>
    <div>
        <span class="lastname">
            info: {{ object.customerprofile.aboutMe|default_if_none:"not set" }}
        </span>
    </div>
</div>