{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
Detail Customer
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'customers/styles/forms.css' %}">
{% endblock %}

{% block small_menu_items %}
{% endblock %}

{% block large_menu_items %}
{% endblock %}

{% block right_content %}
{% include 'customers/components/customer.html' with object=object %}
{% endblock %}

{% block bootstrap_js %}
<script src="{% static 'customers/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

{% endblock %}