{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
{{title}}
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'customers/styles/forms.css' %}">
{% endblock %}

{% block small_menu_items %}
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
<div class="main_section">
    <div class="main_section_header">
        {{user}}
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        {{ profile_form }}
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>
{{ user_name }}
{{ warn }}
{% endblock %}

{% block bootstrap_js %}
<script src="{% static 'customers/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}