{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
{{title}}
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'products/styles/paginator.css' %}">
<!--<script src="{% static 'products/js/categories.js' %}"></script>-->
{% endblock %}

{% block small_menu_items %}
<!--<ul class="submenu">-->
<!--</ul>-->
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
<!--<ul class="submenu" id="js">-->
<!--</ul>-->
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
{% include 'products/components/pagination.html' with results=categories %}
{% for category in object_list %}
<div class="category_products">
    <a href="{% url 'categoriesapp:category' pk=category.pk %}">
        <div class="products_header">
            {{ category.name }}
        </div>
    </a>
    <div class="row products_table">
        {% for product in limit_products %}
            {% if product.category == category %}
                {% include 'products/components/product.html' with product=product %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
{% include 'products/components/pagination.html' with page_obj=page_obj %}

{% endblock %}
<!--<script>-->
    <!--axios.get('/api/categories/list/')-->
        <!--.then(renderCategories);-->
<!--</script>-->
{% block bootstrap_js %}
{% endblock %}
