{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
{{title}}
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'products/styles/paginator.css' %}">
{% endblock %}

{% block small_menu_items %}
<ul class="submenu">
</ul>
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
<ul class="submenu">
</ul>
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
<div class="category_products">
    <div class="products_header">
        {{ object.name }}
    </div>
    <div class="row products_table">
        {% for product in products %}
        {% include 'products/components/product.html' with product=product %}
        {% endfor %}
    </div>
</div>

{% include 'products/components/pagination.html' with page_obj=products %}

{% endblock %}

{% block bootstrap_js %}
{% endblock %}
