{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% load utility %}

{% block page_title %}
List
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'products/styles/paginator.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="{% static 'products/js/categories.js' %}"></script>
{% endblock %}

{% block small_menu_items %}
<ul class="submenu">
</ul>
{% endblock %}

{% block large_menu_items %}
<ul class="submenu" id="js">
</ul>
{% endblock %}

{% block right_content %}
<div class="main_section">
    <div class="main_section_header">
        {% get_model_name results.0 %}
    </div>
</div>
<div class="row products_table" id="cat_js">
</div>

{% include 'products/components/js_pagination.html' %}

{% block js_bottom %}
<script>
    axios.get('/api/categories/list/')
        .then(renderCategories);
</script>
<script src="{% static 'products/js/categories_pgn.js' %}"></script>
{% endblock %}
{% endblock %}

{% block bootstrap_js %}
<script src="{% static 'products/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}