{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
    Category
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'products/styles/paginator.css' %}">
{% endblock %}

{% block small_menu_items %}
<ul class="submenu">
    {% for category in categories %}
    <li><a href="{% url 'categoriesapp:category' category=category.name %}">{{category.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
<ul class="submenu">
    {% for category in categories %}
    <li><a href="{% url 'categoriesapp:category' category=category.name %}">{{category.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
<div class="category_products">
    <div class="products_header">
        {{ category }}
    </div>
    <div class="row products_table">
        {% for product in products %}
         <div class="col-md-4 col-sm-6 col-xs-12 product_cell">
            <a href="{% url 'productsapp:detail' pk=product.id %}">
                {% include 'products/components/product.html' with prd=product %}
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% include 'products/components/pagination.html' with results=products %}

{% endblock %}

{% block bootstrap_js %}
<script src="{% static 'products/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
