{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
{{title}}
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'products/styles/forms.css' %}">
{% endblock %}

{% block small_menu_items %}
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
<ul class="submenu">
</ul>
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
<div class="main_section">
    <div class="main_section_header">
        create category
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>
{% endblock %}

{% block bootstrap_js %}
{% endblock %}