@font-face {
    font-family: "Roboto Regular";
    src: url("../fonts/Roboto_Regular.ttf")
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/Roboto_Bold.ttf")
}

@font-face {
    font-family: "Roboto Black";
    src: url("../fonts/Roboto_Black.ttf")
}

@font-face {
    font-family: "Roboto Black Italic";
    src: url("../fonts/Roboto_BlackItalic.ttf")
}

@font-face {
    font-family: "Raleway Regular";
    src: url("../fonts/Raleway_Regular.ttf")
}

@font-face {
    font-family: "Raleway Bold";
    src: url("../fonts/Raleway_Bold.ttf")
}

@font-face {
    font-family: "Raleway ExtraBold";
    src: url("../fonts/Raleway_ExtraBold.ttf")
}

@font-face {
    font-family: "Raleway Black";
    src: url("../fonts/Raleway_Black.ttf")
}

.form-model {

}

.form-model-label {
    width: 100px;
    text-align: left;
}

.form-model-input {
    width: 200px;
}

.author-photo {
    display: block;
    float: left;
    width: 150px;
}

.author-info {
    padding-left: 15px;
    float: left;
    font-family: "Roboto Black Italic", sans-serif;
}

.author-info .name {
    display: block;
    font-size: 14px;
    max-height: 2.5em;
    overflow: hidden;
    color: #333333;
}

.author-info .lastname {
    display: block;
    font-size: 18px;
    max-height: 2.5em;
    overflow: hidden;
    color: #333333;
}

.fakelabel {
    display: block;
    float: left;
    margin-right: 15px;
}