{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
{{title}}
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
<link rel="stylesheet" href="{% static 'main/styles/style.css' %}">
{% endblock %}

{% block small_menu_items %}
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
<div class="main_section">
    <div class="main_section_header">
        {{ object.chapter }}
    </div>
    {% include 'main/components/article.html' with article=object author=object.author %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Delete</button>
    </form>
</div>
{% endblock %}

{% block bootstrap_js %}
{% endblock %}