{% extends 'myshop/base.html' %}


{% load staticfiles %}

{% block page_title %}
    Main
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
{% endblock %}

{% block small_menu_items %}
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
    {% for article in object_list %}
        {% include 'main/components/article.html' with article=article author=article.author %}
    {% endfor %}
{% endblock %}

{% block bootstrap_js %}
{% endblock %}