{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
    Main
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
{% endblock %}

{% block small_menu_items %}
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
    <!--commented is for fbv-->
    <!--{% for content in results %}-->
    {% for content in object_list %}
        {% include 'main/components/article.html' with content=content object=content.author %}
    {% endfor %}
{% endblock %}

{% block bootstrap_js %}
<script src="{% static 'main/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
{% endblock %}