{% load staticfiles %}

<ul class="django-pagination">
    {% if page_obj.has_previous %}
    <li class="django-pagination__control">
        <!--<a class="btn btn-primary" href="{% url  'productsapp:catalog' %}?page={{page_obj.previous_page_number}}">-->
        <a class="btn btn-primary" href="{{pagination_url}}?page={{page_obj.previous_page_number}}">
            <<< </a>
    </li>
    {% endif %}
    <li class="django-pagination__control">
        <span class="btn btn-primary">{{ page_obj.number }}/{{page_obj.paginator.num_pages}}</span>
    </li>
    {% if page_obj.has_next %}
    <li class="django-pagination__control">
        <!--<a class="btn btn-primary" href="{% url  'productsapp:catalog' %}?page={{page_obj.next_page_number}}"> >>> </a>-->
        <a class="btn btn-primary" href="{{pagination_url}}?page={{page_obj.next_page_number}}"> >>> </a>
    </li>
    {% endif %}
</ul>