{% load static %}

<div class="product_card {{prd.product_marker|default_if_none:''}}">
    <img class="product_img" src="{{ prd.image.img.url }}" alt="">
    <div class="name_price">
        <div class="product_name">
            {{ prd.name|title }}
        </div>
        <div class="product_price">
            <div class="now_price">
                {{ prd.currency }} {{ prd.now_price }}
            </div>
            {% if prd.old_price %}
            <div class="old_price">
                {{ prd.currency }} {{ prd.old_price }}
            </div>
            {% endif %}
        </div>
    </div>
</div>
