{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
        {% block page_title %}
        {% endblock %}
    </title>
    <!-- Bootstrap -->
    <link href="{% static 'myshop/packages/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block bootstrap_css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'myshop/styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'myshop/styles/localstorage_basket_widget.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="{% static 'myshop/js/storage.js' %}"></script>
    {% block style_css %}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-default navbar_xs visible-xs">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand logo_xs" href="{% url 'articlesapp:list' %}">My<span>Shop</span></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a class="menu_item" href="{% url 'articlesapp:list' %}">Main</a></li>
                            {% if user.is_authenticated %}
                            <li><a class="menu_item" href="{% url 'customersapp:detail' pk=user.pk %}">Account</a></li>
                            {% endif %}
                            <li><a class="menu_item" href="{% url 'productsapp:list' %}">Products</a></li>
                            <li><a class="menu_item" href="{% url 'categoriesapp:list' %}">Categories</a></li>
                            <li><a class="menu_item" href="{% url 'productsapp:catalog' %}">Catalog</a></li>
                            {% block small_menu_items %}
                            {% endblock %}
                            <li><a class="menu_item" href="{% url 'contactsapp:contacts' %}">Contacts</a></li>
                            <!--<li><a class="menu_item" href="{% url 'basketapp:basket' %}">Basket</a></li>-->
                            <li><a class="menu_item" href="{% url 'ordersapp:storage' %}">Basket</a></li>
                            {% block small_menu_mainpage %}
                            {% endblock %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div><!--# выпадающее меню-->
        <div class="row" style="margin-top: 10px;"><!--# лого и социальные сети-->
            <div class="col-md-4 col-sm-3" style="text-align: -webkit-center;">
                <a href="{% url 'articlesapp:list' %}" class="logo hidden-xs"></a>
            </div>
            <div class="col-md-8 col-sm-9 social_icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <!--ссылка на корзину на сервере. в настоящий момент в формировании заказа не участвует.-->
            <!--не заполняется-->
            <a class="basket" href="{% url 'basketapp:basket' %}">
                <div class="basket__control">
                </div>
            </a>
        </div>
        <div class="row" style="margin-top: 25px;margin-bottom: 50px;text-align: right;"><!--# пользователь-->
            <div class="name-avatar">
                <img src="{{ user.avatar.url }}" alt="{{ user.username }}">
                <span>{{ user.username }}</span>
            </div>
            {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'authapp:logout_view' %}">Logout</a>
            {% else %}
            <a class="btn btn-primary" href="{% url 'authapp:login_view' %}">Login</a>
            <a class="btn btn-primary" href="{% url 'authapp:logup_view' %}">SignIn</a>
            {% endif %}
            {% if user.is_staff %}
            <a class="btn btn-primary" href="{% url 'myshopadminapp:index' %}">AdminSite</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-4 col-sm-3 left_content">
            <div class="menu hidden-xs">
                <div class="menu_title">
                    Menu
                </div>

                <ul>
                    <li><a class="menu_item" href="{% url 'articlesapp:list' %}">Main</a></li>
                    {% if user.is_authenticated %}
                    <li><a class="menu_item" href="{% url 'customersapp:detail' pk=user.pk %}">Account</a></li>
                    {% endif %}
                    <li><a class="menu_item" href="{% url 'productsapp:list' %}">Products</a></li>
                    <li><a class="menu_item" href="{% url 'categoriesapp:list' %}">Categories</a></li>
                    <li><a class="menu_item" href="{% url 'productsapp:catalog' %}">Catalog</a>
                        {% block large_menu_items %}
                        {% endblock %}
                    </li>
                    <li><a class="menu_item" href="{% url 'contactsapp:contacts' %}">Contacts</a></li>
                    <!--<li><a class="menu_item" href="{% url 'basketapp:basket' %}">Basket</a></li>-->
                    <li><a class="menu_item" href="{% url 'ordersapp:storage' %}">Basket</a></li>
                    {% block large_menu_mainpage %}
                    {% endblock %}
                </ul>

            </div>
            <a class="left_banner" href="#">
                <div>
                    <span>Banner One!</span>
                </div>
            </a>
        </div>

        <div class="col-md-8 col-sm-9 right_content">
            {% block right_content %}
            {% endblock %}

        </div>
    </div>

    <div class="row">
        <div class="content_socials">
            <a class="fb" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="tw">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="pnt">
                <i class="fab fa-pinterest-p"></i>
            </a>
        </div>

    </div>

</div>

<div class="footer">
    <div class="container">

    </div>
</div>

<div class="footer_bottom">
    <div class="container footer_bottom_width">
        <div class="copyright">
            <span>&copy;</span>2018 EvgenyShkrybin. All rights reserved
            <span class="hidden-xs">-</span>
            <br class="visible-xs">
            Designed by GBLessons
        </div>
        <div class="footer_social_icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-tumblr"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fas fa-rss"></i></a>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--<script src="{% static 'basket/js/basket_scripts.js' %}"></script>-->
{% block js_bottom %}
<script>
    // let productItems = document.getElementById('basket_js');
    // let localItems = getFromStorage('basket');
</script>
{% endblock %}

{% block bootstrap_js %}

{% endblock %}
<script src="{% static 'main/packages/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>