.author_small_card {
    height: 250px;
}

.author-photo {
    display: block;
    float: left;
    width: 150px;
    height: 200px;
    background-size: cover;
    background-color: #3b9790;
    text-align: center;
    margin-right: 10px;
}

.author-info {
    padding-left: 15px;
    float: left;
    font-family: "Roboto Black Italic", sans-serif;
}

.author-info label {
    min-width: 70px;
}

.author-info .name {
    /*display: block;*/
    font-size: 14px;
    max-height: 2.5em;
    overflow: hidden;
    color: #333333;
}

.author-info .lastname {
    /*display: block;*/
    font-size: 18px;
    max-height: 2.5em;
    overflow: hidden;
    color: #333333;
}
