{% load static %}

<div class="main_section">
    <div class="main_section_header">
        {{ content.chapter }}
    </div>
     <div class="main_section_img">
        {% if object.photo %}
        <img class="main_section_img" src="{{ object.photo.url }} " alt="{{ content.author }}">
        {% else %}
        <div class="main_section_img" style=>
            No photo
        </div>
        {% endif %}
    </div>
     <div class="row main_section_content">
         {{ content.content }}
     </div>
    <span>By {{ content.author }},</span>
    <span>{{ content.created.date }}</span>
</div>