{% load static %}

<div class="main_section">
    <div class="main_section_header">
        {{ article.chapter }}
    </div>
     <div class="main_section_img">
        {% if author.photo %}
        <img class="main_section_img" src="{{ author.photo.url }} " alt="{{ author }}">
        {% else %}
        <div class="main_section_img" style=>
            No photo
        </div>
        {% endif %}
    </div>
     <div class="row main_section_content">
         {{ article.content }}
     </div>
    <span>By {{ author }},</span>
    <span>{{ article.created.date }}</span>
</div>