{% extends 'myshop/base.html' %}

{% load staticfiles %}

{% block page_title %}
Basket
{% endblock %}

{% block bootstrap_css %}
{% endblock %}

{% block style_css %}
<script src="{% static 'basket/js/basket_script.js' %}"></script>
<link rel="stylesheet" href="{% static 'basket/styles/basket.css' %}">
{% endblock %}

{% block small_menu_items %}
{% endblock %}

{% block small_menu_mainpage %}
{% endblock %}

{% block large_menu_items %}
{% endblock %}

{% block large_menu_mainpage %}
{% endblock %}

{% block right_content %}
<div class="main_section_header">
    {{ basket.0.user }}
</div>

<div class="basket_list">
    {% include 'basket/components/basket_table.html' %}
</div>

<a class="btn btn-primary" href="{% url 'ordersapp:create' %}">Create order</a>
{% endblock %}

{% block js_bottom %}
{% endblock %}

{% block bootstrap_js %}
{% endblock %}